body {
  font-family: Arial;
  background: linear-gradient(135deg,#ff9a9e,#fad0c4);
  margin: 0;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #ff69b4;
}

input, button {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

button {
  background: hotpink;
  color: white;
  border: none;
  border-radius: 8px;
}

h2 { color: #d63384; }